h2,h3{
    margin-top:0%;
    margin-left:2%;
    margin-right:2%;

 }
 form{
    margin-top:0%;
    margin-left:2%;
    margin-right:2%
 }

body{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(219, 27%, 88%, 0.604), hsla(224, 15%, 53%, 0.604));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(219, 27%, 88%, 0.604), hsla(224, 15%, 53%, 0.604)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100%;
    width:100%


}

button{
    margin-right:4px;
}
