<body>
    <form>
            <h1>Partner</h1>
            <div class="group">
                <div class="row m-3">

                </div>

                <div class="row">
                    <textarea #cedula  type="number" class="" id="" rows="3" min="0" required></textarea><span class="line"></span>
                    <label><h5>Identification</h5></label>
                </div>


            </div>
            <button (click)="obtenerSocio(cedula.value)"class="btn btn-primary">Search</button>
    </form>
</body>
