<div class="font">
    <main>
        <section class="about">
            <div class="in-flex">

                <div>
                    <h2 class="subtitle">About Us</h2>
                </div>
              <div style="margin-top:160px">
                <p>
                    Welcome to the luxurious New Millennium castle.
                    We are the first and only country club with its own castle with medieval architecture in the city, meet all our VIP areas that offer you a unique experience of glamor and rest, all under a great Renaissance experience, feel in your own castle.
                    With us you will find soccer fields with synthetic grass of the highest quality, you can also live the experience of a grand slam in one of our tennis courts, you can find these with different types of courts such as grass, pavement and powder of brick, you can also access our go car tracks and how to forget our pools, we have more than 6 pools for you to enjoy with all your family and friends. We also know that many of our partners are great entrepreneurs, come and close your next deal in one of our more than 50 business offices and of course how to forget our delicious international buffet meals that are available throughout the day in our 4 restaurants.
                    We will wait for you.
                </p>
              </div>


              
            </div>
        </section>
            <div style="margin-top: 10px">
                
                <figure class="about_img">
                    <img src="../../assets/imagenes/fondo.jpg" class="about_picture">
                </figure>
              
            </div>
           
                <hr style="margin-top: 150px">
    </main>
</div>
