
<body>

    <div class="row m-5"> 
      <h2>Invoices</h2>
    
        <table class="table" >
        
            <thead>
              <tr >
                <th scope="col">#</th>
                <th scope="col">Concept</th>
                <th scope="col">value</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices" class="table-danger">
                <td>{{invoice.concepto}}</td>
                <td>{{invoice.valor}}</td>
                <td> <button style="float: right" type="button" class="btn btn-outline-success">Payment</button></td>
              </tr>
        
            </tbody>
          </table>
        </div>
        

</body>