<body>
  <div class="container-flex">
    <div class="row">
      <div class="col">
        <h1>Shopping</h1>
      </div>
    </div>
  </div>
  <br>

  <div class="conainer-flex" style="margin-left: 10px;">
      <div class="row">
        <div class="col col-lg-6">
          <div class="row row-cols-1 row-cols-md-2 g-4">
                <div *ngFor="let product of shop.Products" class="col-sm-12 col-lg-6" style="padding-top: 10px;" >
                  <div class="card  h-100"  >
                    <img [src]="product.img">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.price}}</p>
                      <button (click)="add(product)"  href="#" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                </div>    
              </div>
        </div>
        <div class=" col" >
          <h2>Cart</h2>
          <div>
           <li *ngFor="let product of selectedProducts">
             {{product.name}}   {{product.price}}
            </li>
            <hr>
            <li>
              Total: {{total}}
            </li>
          </div>
        </div>
      </div>

  </div>

</body>
