<div class = "row">
    <header>
        <section class="text-header">
            <h1>New Millennium</h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C189.90,260.05 349.20,-49.98 492.37,148.53 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
</div>

<div class = "row m-5">
    <app-about-us></app-about-us>
</div>


<div class = "row m-5">
    <app-gallery></app-gallery>
</div>